deployment:
  replicas: 1
  namespace: sangwoo-otel-poc
  name: fastapi-server-3-dep
  port: 8000
pod:
  name: fastapi-server-3-pod
image:
  repository: spaceonedev/fastapi-server-3
  pullPolicy: IfNotPresent
service:
  name: fastapi-server-3-svc
  namespace: sangwoo-otel-poc
  port: 8000
  type: NodePort
